<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for booking with us, <%= @user.first_name %>!</h1>
    <p>Now we can begin your journey to feeling 100%!</p>
  </body>
</html>